<div class="infinite-scroll">
  
    {% if comment_list|length == 0 %}
    <div class="container-fluid text-center">
      <p>No comments, huh...</p>
    </div>
    
    {% else %}
  
      {% for comment in comment_list %}
      <div name="comment_{{comment[0].id}}" id="{{comment[0].id}}"  class="bs-callout bs-callout-danger col-sm-12">
          <div class="col-xs-10 desc">{{comment[1].username}}</div>
          
          <div class="col-xs-2 text-right">
            <span class="desc" style="margin-right:20px;">{{comment[0].created_at.strftime('%Y-%m-%d')}}</span>
          </div>
          
          <div class="col-sm-12">
             {{ comment[0].content | safe}
          </div>
      </div>
      {% endfor %}
      
    {% endif %}
    
  </div>

<script>
  $('.infinite-scroll').jscroll({
      loadingHtml: '<img src="loading.gif" alt="Loading" /> Loading...',
      padding: 20,
      nextSelector: 'a.jscroll-next:last',
      contentSelector: 'li'
  });
</script>